@use "sass:color";
@use "slider" as *;




// ================================================================================
// + Nombre
// --------------------------------------------------------------------------------

$Nombre_Width: 140px;
$Nombre_Height: 20px;

$Nombre_KeyColor: var(--bibi-nombre-key-color, rgb(48,48,48));

$Nombre-Current_Color: var(--bibi-nombre-current-color, $Nombre_KeyColor);
$Nombre-Delimiter_Color: var(--bibi-nombre-delimiter-color, color.adjust(rgb(48,48,48), $lightness: 20%));
$Nombre-Total_Color: var(--bibi-nombre-total-color, color.adjust(rgb(48,48,48), $lightness: 10%));
$Nombre-Percent_Color: var(--bibi-nombre-percent-color, color.adjust(rgb(48,48,48), $lightness: 20%));
$Nombre_BackgroundColor: var(--bibi-nombre-background-color, rgba(color.adjust(rgb(48,48,48), $lightness: 77%), .9));

$Nombre_KeyColor__SliderOpened: var(--bibi-nombre-key-color-slider-opened, $Slider_KeyColor);
$Nombre-Current_Color__SliderOpened: var(--bibi-nombre-current-color-slider-opened, $Nombre_KeyColor__SliderOpened);
$Nombre-Delimiter_Color__SliderOpened: var(--bibi-nombre-delimiter-color-slider-opened, color.adjust(steelblue, $lightness: 20%));
$Nombre-Total_Color__SliderOpened: var(--bibi-nombre-total-color-slider-opened, color.adjust(steelblue, $lightness: 10%));
$Nombre-Percent_Color__SliderOpened: var(--bibi-nombre-percent-color-slider-opened, color.adjust(steelblue, $lightness: 20%));
$Nombre_BackgroundColor__SliderOpened: transparent;
