@use "sass:color";




// ================================================================================
// + Panel
// --------------------------------------------------------------------------------


$Panel_PaddingBefore: 20px;
$Panel_PaddingAfter: $Panel_PaddingBefore;
$Panel_PaddingStart: 20px;
$Panel_PaddingEnd: $Panel_PaddingStart;
$Panel_Background: var(--bibi-panel-background, rgb(244,246,248));//rgb(246,246,246);


// . Navigation
// --------------------------------------------------------------------------------

$Panel-Nav-A_Color: var(--bibi-panel-nav-a-color, rgb(56,60,64));
$Panel-Nav-A_TextDecorationColor: transparent;//rgb(208,212,216);
$Panel-Nav-A_Color__Hover: var(--bibi-panel-nav-a-color-hover, steelblue);
$Panel-Nav-A_TextDecorationColor__Hover: var(--bibi-panel-nav-a-text-decoration-color-hover, color.adjust(steelblue, $lightness: 25%));

$Panel-Nav-ContourLine_Width: 2px;
$Panel-Nav-ContourLine_Color: var(--bibi-panel-nav-contour-line-color, color.adjust(color.adjust(steelblue, $lightness: 40%), $saturation: -50%));


// . Cover
// --------------------------------------------------------------------------------

$Panel-Cover_MarginBefore: 20px;
$Panel-Cover_PaddingBefore: $Panel-Cover_MarginBefore;
$Panel-Cover_BorderColor: var(--bibi-panel-cover-border-color, rgb(224,228,232));

$Panel-Cover-Icon_Size__WithoutCoverImage: 144px;
$Panel-Cover-Icon_OuterColor__WithoutCoverImage: var(--bibi-panel-cover-icon-outer-color-without-cover-image, white);
$Panel-Cover-Icon_InnerColor__WithoutCoverImage: var(--bibi-panel-cover-icon-inner-color-without-cover-image, $Panel_Background);

$Panel-Cover-Info_Color: var(--bibi-panel-cover-info-color, rgb(112,120,128));//rgb(160,160,160);
